button{
    display: inline-block;
    width: 25%;
    height: 10.95vh;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid burlywood;
    font-size: 27px;
    margin-right: -4px;
}
button:hover{
    background-color: chocolate;
}
.mainBody{
    border: 2px burlywood solid;
    margin:auto;
    height: 71vh;
    width: 30vw;
    min-width: 282px;
    margin-top: 92px;
}
.display{
    width: 100%;
    height: 23%;
    border: 2px solid burlywood;
    background-color: burlywood;
    box-sizing: border-box;
    padding: 7px;
    overflow: hidden;
    position: relative;
}
.output{
    display: inline-block;
    position: absolute;
    color: black;
    right: 5px;
    bottom: 40px;
    margin: 0px;
    width: min-content;
    max-width: 90%;
    overflow-wrap: break-word;
    text-align: right;
    height: auto;
    font-size: 35px;
    font-weight: bold;
}
.large{
    background-color: brown;
    color: whitesmoke;
}